<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link href="style.css" th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <h2>User Details</h2>
        <p>ID: <span th:text="${user.id}">N/A</span></p>
        <p>Email: <span th:text="${user.email}">N/A</span></p>
        <p>First Name: <span th:text="${user.firstName}">N/A</span></p>
        <p>Last Name: <span th:text="${user.lastName}">N/A</span></p>
    </div>
</body>
</html>