<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
    <link href="datatables.css" th:href="@{/css/datatables.css}" rel="stylesheet">
</head>
<body>
<div class="df-container">
    <header>
        <div class="flex-container">
            <img height="80px" width="80px" th:src="@{/img/Conect.webp}" alt="Logo">
            <h1>Earthquake Monitoring App</h1>
        </div>
        <h1>Update User</h1>
    </header>

    <form th:action="@{/user-update}" th:object="${user}" method="post" class="df">
        <div class="flex-container">
            <div class="df-item">
                <label for="id">ID:</label>
                <input type="number" th:field="*{id}" id="id" placeholder="ID" readonly>
            </div>
            <div class="df-item">
                <label for="userName">user login:</label>
                <input type="text" th:field="*{userName}" id="userName" placeholder="login">
            </div>
            <div class="df-item">
                <label for="firstName">First Name:</label>
                <input type="text" th:field="*{firstName}" id="firstName" placeholder="Enter First Name">
            </div>
            <div class="df-item">
                <label for="lastName">Last Name:</label>
                <input type="text" th:field="*{lastName}" id="lastName" placeholder="Enter Last Name">
            </div>
            <div class="df-item">
                <label for="userEmail">Email:</label>
                <input type="text" th:field="*{userEmail}" id="userEmail" placeholder="Enter email">
            </div>
            <div class="df-item">
                <label for="userRole">Email:</label>
                <input type="text" th:field="*{userRole}" id="userRole" placeholder="Enter userRole">
            </div>
        </div>
        <div class="df-item">
            <input type="submit" value="Update User" class="btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>